<h2>List Of Users</h2>
<div class="alert alert-success" *ngIf="message">
    {{message}}
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>description</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.description}}</td>
                <td>{{user.datedebut | date |uppercase}}</td>
                <td>{{user.datefin | date |uppercase}}</td>
                <td><button class="btn btn-warning">Delete</button></td>
                <td><button class="btn btn-success">Update</button></td>

            </tr>
        </tbody>
    </table>
    <div class="row container">
        <button class="btn btn-success"> Add  </button>
    </div>

</div>